@{
    ViewData["Title"] = "ADO.NET Reusable DB Instance";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>This is my attempt at making a resusable Db Instance from a sql list Database. Orignal way of doing this was to 
        open a connection each time to run a SQL query and use the reader to read each piece of data coming in. This 
        approach allows you to send a function inside the Reusable Db Instance and read the data back. Check out my other 
        projects at <a href="https://github.com/AhzamBardai/" >my Github</a>. 
    </p>
    <p>Links Currently active in this site:</p>
    <ul>
        <li><a href="/api/track" >/api/track</a></li>
        <li><a href="/api/employee" >/api/employee</a></li>
        <li><a href="/api/customer" >/api/customer</a></li>
    </ul>
</div>
